@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  background-image: url(./images/bg-intro-mobile.png);
  background-size: 100%;
  background-color: hsl(0deg, 100%, 74%);
}

main {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .container {
  max-width: 85%;
  max-height: 90%;
}
main .container .main-section {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding-bottom: 2rem;
}
main .container .main-section .left-side {
  text-align: center;
}
main .container .main-section .left-side h1 {
  color: white;
  padding-bottom: 1.5rem;
  font-size: 26px;
}
main .container .main-section .left-side p {
  color: white;
}
main .container .main-section .right-side {
  width: 100%;
}
main .container .main-section .right-side .trial {
  display: flex;
  justify-content: center;
  background-color: hsl(248deg, 32%, 49%);
  border-radius: 0.5rem;
  text-align: center;
  margin-bottom: 2rem;
  box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.15);
}
main .container .main-section .right-side .trial p {
  color: rgba(255, 255, 255, 0.8);
  padding: 1rem 0;
  width: 60%;
}
main .container .main-section .right-side .trial p span {
  font-weight: 600;
  color: white;
}
main .container .main-section .right-side > .form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 0.5rem;
  text-align: center;
  box-shadow: 0px 8px 0px 0px rgba(0, 0, 0, 0.15);
}
main .container .main-section .right-side > .form form {
  display: flex;
  width: 90%;
  align-items: center;
  flex-direction: column;
  padding-top: 0.5rem;
}
main .container .main-section .right-side > .form form ::-moz-placeholder {
  font-family: "Poppins", sans-serif;
  color: hsla(249deg, 10%, 26%, 0.807);
  font-weight: 700;
}
main .container .main-section .right-side > .form form :-ms-input-placeholder {
  font-family: "Poppins", sans-serif;
  color: hsla(249deg, 10%, 26%, 0.807);
  font-weight: 700;
}
main .container .main-section .right-side > .form form ::placeholder {
  font-family: "Poppins", sans-serif;
  color: hsla(249deg, 10%, 26%, 0.807);
  font-weight: 700;
}
main .container .main-section .right-side > .form form div {
  width: 100%;
  display: flex;
  align-items: center;
  margin-top: 1rem;
  border: 1px solid hsla(246deg, 25%, 77%, 0.6);
  border-radius: 0.4rem;
}
main .container .main-section .right-side > .form form div input {
  width: 100%;
  padding: 1.2rem 1rem;
  border: none;
}
main .container .main-section .right-side > .form form div .att {
  position: relative;
  right: 2rem;
  visibility: hidden;
}
main .container .main-section .right-side > .form form section {
  font-style: italic;
  width: 100%;
  text-align: end;
  font-size: 14px;
}
main .container .main-section .right-side > .form form button {
  width: 100%;
  margin: 1rem 0;
  padding: 1rem 0 0.7rem 0;
  border: none;
  color: white;
  text-transform: uppercase;
  background-color: rgb(56, 204, 140);
  border-radius: 0.4rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: inherit;
  cursor: pointer;
  box-shadow: 0px 4px 0px 0px rgb(25, 183, 115);
}
main .container .main-section .right-side > .form form button:hover {
  background-color: rgba(56, 204, 140, 0.7);
  box-shadow: 0px 4px 0px 0px rgba(25, 183, 115, 0.7);
}
main .container .main-section .right-side > .form form button:active, main .container .main-section .right-side > .form form button:focus {
  outline: none !important;
}
main .container .main-section .right-side > .form p {
  width: 80%;
  color: hsl(246deg, 25%, 77%);
  padding: 0 0 1.5rem 0;
  font-size: 12px;
}
main .container .main-section .right-side > .form p span {
  color: hsl(0deg, 100%, 74%);
  font-weight: 700;
}

@media (min-width: 992px) {
  body {
    background-image: url(./images/bg-intro-desktop.png);
  }
  main .container {
    max-width: 80%;
  }
  main .container .main-section {
    flex-direction: row;
    padding-bottom: 0;
  }
  main .container .main-section .left-side {
    width: 100%;
    text-align: start;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  main .container .main-section .left-side h1 {
    font-size: 58px;
    line-height: 4rem;
  }
  main .container .main-section .left-side p {
    width: 90%;
  }
  main .container .main-section .right-side .trial p {
    width: 90%;
  }
  main .container .main-section .right-side > .form form section {
    font-size: 16px;
  }
}/*# sourceMappingURL=style.css.map */